<!--The content below is only a placeholder and can be replaced.-->
<div class="container" id="pdf">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-3 mx-auto">
          <h3>Nombre:</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mx-auto">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
  </div>
  <button type="button" id="boton" class="btn btn-primary" (click)="pdf()">Primary</button>
</div>