<!--The content below is only a placeholder and can be replaced.-->
<div class="container" id="pdf">
  <div class="row">
    <div class="col-3">
      <h4>Numero factura:</h4>
    </div>
    <div class="col-3">
      <input type="text" class="form-control">
    </div>
    <div class="col-3"></div>
    <div class="col-3 float-right">
      <h4>Icono empresa</h4>
    </div>
  </div>
  <button type="button" id="boton" class="btn btn-primary" (click)="pdf()">Crear pdf</button>
  <button type="button" id="boton" class="btn btn-primary" (click)="volver()">Volver</button>
</div>